<% @articles.each do |article| %>

	<div>
		<div class="article-content">
			<h1><%= link_to article.title, article_path(article.id) %></h1>
			By: <%= article.author %><br>
				<br>
				<% article.content.split("\n").each do |p| %>
				<p><%= p %></p> 
				<% end %>
		<%= button_to "EDIT", edit_article_path(article),method: :get %>
		<%= button_to "DELETE", article, method: :delete %>
		</div>
	</div>

<% end %>